      #title{
        font-family: 'Arial',YuGothic,'Yu Gothic','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3','メイリオ', Meiryo,'ＭＳ ゴシック',sans-serif;
        font-size: 80px;
        padding: 10px 10px;
      }
      .navbar{
        position: fixed;
      }
      .nav-link{
        font-size: 10px;
        color: rgb(0, 0, 0);
      }
      .time{
        font-size: 10px;
        padding-top: 50px;
        padding-right: 20px;
      }
      .time-sp{
        font-size: 10px;
        padding-top: 55px;
        padding-right: 20px;
      }
      .time-sp-display{
        font-size: 10px;
        padding-top: 10px;
      }
      .pusher {
        padding-top:10px;
      }
      .index.pusher {
        padding-top:50px;
      }
      .header{
        background: rgb(216, 216, 216) !important;
        display: flex !important;
        position: fixed !important;
        up: 20px;
        right: 20px;
      }
      .header-sp{
        position: fixed;
        width: 100%;
      }
      .menu{
        display: flex;
        width: 100%;
      }
      #top{
        position: fixed;
        bottom: 20px;
        right: 20px;
        cursor:pointer;
      }
      .top-twitter{
        position: fixed;
        top: 100px;
        right: 20px;
        cursor:pointer;
      }
      .top-feed{
        position: fixed;
        top: 130px;
        right: 20px;
        cursor:pointer;
      }
      #tag{
        font-size: 15px;
      }
      .main_site{
        font-size: 13px;
      }
      .ui.form{
        padding-top: 10px;
      }
      .headline{
        padding: 0.5em 0.5em;/*上下 左右の余白*/
        color: #494949;/*文字色*/
        background: transparent;/*背景透明に*/
        padding-top: 60px;
        font-size: 30px;
        font-weight:bold;
        margin-left: 30px;
        border-left: solid 8px #7db4e6;/*左線*/
      }
      .headline-sp{
        padding: 0em 0.5em;/*上下 左右の余白*/
        color: #494949;/*文字色*/
        background: transparent;/*背景透明に*/
        padding-top: 60px;
        font-size: 30px;
        font-weight:bold;
        margin-left: 0px;
        border-left: solid 8px #7db4e6;/*左線*/
      }
      .headline-text{
        padding: 20px 10px;/*上下 左右の余白*/
        color: #000000;/*文字色*/
        background: transparent;/*背景透明に*/
        padding-top: 10px;
        font-size: 15px;
        padding-left: 20px;
      }
      .headline-text-sp{
        padding: 20px 20px;/*上下 左右の余白*/
        color: #000000;/*文字色*/
        background: transparent;/*背景透明に*/
        padding-top: 10px;
        font-size: 15px;
        padding-left: 20px;
      }
      .headline-remain{
        padding: 0.5em 0.5em;/*上下 左右の余白*/
        color: #494949;/*文字色*/
        background: transparent;/*背景透明に*/
        padding-top: 20px;
        font-size: 30px;
        font-weight:bold;
        margin-left: 30px;
        border-left: solid 8px #7db4e6;/*左線*/
      }
      .headline-remain-sp{
        padding: 0.5em 0.5em;/*上下 左右の余白*/
        color: #494949;/*文字色*/
        background: transparent;/*背景透明に*/
        padding-top: 20px;
        font-size: 30px;
        font-weight:bold;
        margin-left: 0px;
        border-left: solid 8px #7db4e6;/*左線*/
      }
      .headline-note{
        padding: 20px 10px;/*上下 左右の余白*/
        color: #000000;/*文字色*/
        background: transparent;/*背景透明に*/
        padding-top: 60px;
        font-size: 15px;
        padding-left: 40px;
      }
      .headline-note-mail{
        padding: 0px 0px;/*上下 左右の余白*/
        color: #ff0000;/*文字色*/
        background: transparent;/*背景透明に*/
        padding-top: 10px;
        font-size: 15px;
        padding-left: 0px;
      }
      .headline-note-sp{
        padding: 20px 20px;/*上下 左右の余白*/
        color: #000000;/*文字色*/
        background: transparent;/*背景透明に*/
        padding-top: 20px;
        font-size: 15px;
        padding-left: 40px;
      }
      .headline-note-text{
        padding: 20px 10px;/*上下 左右の余白*/
        color: #000000;/*文字色*/
        background: transparent;/*背景透明に*/
        padding-top: 0px;
        font-size: 15px;
        padding-left: 60px;
      }
      .mail{
        padding: 0px 0px;/*上下 左右の余白*/
        color: #ff0000;/*文字色*/
        background: transparent;/*背景透明に*/
        padding-top: 0px;
        font-size: 15px;
        padding-left: 0px;
      }
      .mail-blank{
        padding: 0px 0px;/*上下 左右の余白*/
        background: transparent;/*背景透明に*/
        padding-top: 5px;
      }
      .searchbox {
        margin: 2em 0;
        background: #ffffff;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.22);
      }
      .searchbox .searchbox-title {
        font-size: 20px;
        background: #5fc2f5;
        padding: 4px;
        text-align: center;
        color: rgb(0, 0, 0);
        font-weight: bold;
      }
      .searchbox p {
        padding: 10px 10px;
        margin: 0;
        font-size: 25px;
      }
      .rss_list_link {
        padding: 10px 10px;
        margin: 0;
        font-size: 25px;
      }
      .img-article:hover{
        opacity: 0.8;
        cursor: pointer;
      }
      .img-article:active{
        opacity: 1.0;
      }